[user]
  name = IMAZU Asami
  email = neko.daisuki.070109@gmail.com
[alias]
  a = add
  d = diff
  s = status
  c = commit
  co = checkout
  l = log --oneline --decorate --graph
[color]
  ui = auto
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[ghq]
  root = ~/src
